<% layout('../layout/app_user') -%>

<div class="home-wrap" id="subCategory">
  <div class="font-up-bold text-uppercase">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb cyan lighten-4">
        <li class="breadcrumb-item"><a class="" href="/">Home</a></li>
        <li class="breadcrumb-item active">{{this.categoryName}}</li>
      </ol>
    </nav>
  </div>
  
  <br>
  <div class="row">
      <div class="col-md-6 searchdiv">
        <input type="text" v-model="searchSubCategory" id="searchSubCategory" name="searchSubCategory" placeholder="Search subcategory...">
      </div>
  </div>
  
  <div class="mt-3 row" v-if="categoryData.length">
    <div v-for="(item, index) in filteredList" :key="index" class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" :src="item.imageUrl" height="300" alt="Card image cap">
          <a :href="href + '/subCategory/'+item.subCategoryID">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <div class="card-body d-flex align-items-center">
          <h3 class="card-title">{{item.name}}</h3>
        </div>
      </div>
    </div>
  </div>
  <vue-snotify></vue-snotify>
</div>
<script>
  new Vue({
    el: "#subCategory",
    data() {
      return {
        loader: {},
        categoryData: [],
        categoryID: '',
        href: '',
        searchSubCategory: ''
      }
    },
    computed:{
        filteredList(){
          return this.categoryData.filter(item=>item.name.toLowerCase().includes(this.searchSubCategory.toLowerCase())==true)
        }
      },
    methods: {
      openLoader() {
        this.loader = this.$loading.show({
          loader: 'dots',
          backgroundColor: '#ffffff',
          opacity: 0.5,
          transparence: 0.5
        });
      },
      
      getSubCategory() {
        this.openLoader()
        $.ajax({
          method: "POST",
          url: "/getSubCategory",
          data: {
            categoryID: this.categoryID
          }
        }).done((res) => {
          this.loader.hide()
          if (res.status) {
            this.categoryData = res.data;
            this.categoryName = res.categoryName;
          } else {
            this.Snotify.error(res.msg, {
              position: 'rightTop'
            })
          }
        })

      }
    },
    mounted() {
      let param = new URL(window.location.href).pathname;
      this.href = param
      this.categoryID = param.split('category/')[1];
      setTimeout(() => {
        this.getSubCategory()
      }, 200);
    },
  })
</script>