<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop Gallery</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/fav-icon.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="css/fontawesome/all.css"> -->
    <!-- Google Fonts Roboto -->
    <!-- <link rel="stylesheet" href="css/fontawesome/fonts.googleapis.css"> -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://unpkg.com/vue-snotify@3.2.1/vue-snotify.min.js"></script>
    <link href="https://unpkg.com/vue-snotify@latest/styles/material.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <style>
        @media only screen and (min-width: 991px) {
            #media__menu {
                 display: none;
            }
        }

    </style>
</head>

<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="logo" width="110px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">

            <ul class="navbar-nav ml-auto" id="media__menu">
                <li class="nav-item dropdown"  v-for="(item,index) in categories">
                    <a class="nav-link" @click="chekForRedirect(item)" :class="item.sub.length?'dropdown-toggle':''" :href="'/category/'+item.categoryID" :id="'navbarDropdown'+item.categoryID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{item.name}}
                    </a>
                    <div class="dropdown-menu" :aria-labelledby="'navbarDropdown'+item.categoryID" v-if="item.sub.length">
                        <a class="dropdown-item" :href="'/category/'+item.categoryID+'/subCategory/'+i.subCategoryID"  v-for="(i,y) in item.sub">{{i.name}}</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/">-->
<!--                        <i class="fas fa-house-damage"></i>Home-->
<!--                    </a>-->
<!--                </li>-->


            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <!-- Start your project here-->
    <div class="main-wrap" id="root">
        <!-- <button @click="open()">test</button> -->
        <%-body -%>
        <loading></loading>
        <vue-snotify></vue-snotify>
    </div>
    <script>
        new Vue({
            el: "#navbarColor01",
            data() {
                return {
                    categories: []
                }

            },
            mounted() {
                this.get_categories()
            },
            methods: {
                chekForRedirect(item) {
                    if (!item.sub.length){
                        window.location.href= '/category/'+item.categoryID
                    }

                    return ;

                },
                get_categories() {
                    let self = this;

                    $.ajax({
                        method: "GET",
                        url: '/api/categories?type=main',
                    }).done(res => {
                        self.categories = res.categories
                    })
                }

            }
        })
    </script>
    <script>
        Vue.use(VueLoading);
        Vue.use(Snotify)
    </script>
    <!-- End your project here-->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript" src="/javascripts/sweetalert.min.js"></script>
</body>

</html>